$sm: 450px;
$md: 800px;
$lg: 1200px;

@mixin from($min: 0) {
	@media screen and (min-width: $min) {
		@content;
	}
}

@mixin to($max) {
	@media screen and (max-width: $max) {
		@content;
	}
}

html,
body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "PT Serif", Times, serif;
	color: #531a10;
}

h1 {
	font-size: 112px;
	line-height: 114%;
}

h2 {
	font-size: 35px;
	line-height: 170%;
}

h3 {
	font-size: 28px;
	line-height: 170%;
}

p {
	text-indent: 20px;
	font-size: 24px;
	line-height: 150%;
}

section,
figure {
	margin-top: 25px;
	margin-bottom: 25px;

	@include from($sm) {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	@include from($md) {
		margin-top: 70px;
		margin-bottom: 70px;
	}
}

figure {
	margin-left: 0;
	margin-right: 0;
}

figure.center {
	margin-left: auto;
	margin-right: auto;
}

section {
	margin-left: auto;
	margin-right: auto;

	@include from($sm) {
		max-width: #{$sm + 20px};
	}
	@include from($md) {
		max-width: #{$md + 20px};
	}
	@include from($lg) {
		max-width: calc(794px + 20px);
	}
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;

	&.row {
		@include to($lg - 1px) {
			margin-left: auto;
			margin-right: auto;
		}

		@include from($lg) {
			display: flex;
			flex-direction: row;
			max-width: $lg;

			aside {
				flex: 1;
			}
		}
	}
}

figure {
	position: relative;

	//max-width: $sm;

	@include from($sm) {
		max-width: $sm;
	}
	@include from($md) {
		max-width: $md;
	}
	@include from($lg) {
		max-width: $lg;
	}

	img {
		position: absolute;
	}
}

// canopy
#group-1 {
	height: 350px;

	@include from($sm) {
		height: 700px;
	}

	@include from($md) {
		height: 1050px;
	}

	img:nth-child(1) {
		left: 10%;
		top: 0%;
		height: 60%;
	}
	img:nth-child(2) {
		left: -5%;
		top: 40%;
		height: 60%;
	}
	img:nth-child(3) {
		left: 40%;
		top: -40%;
		height: 160%;
	}
	img:nth-child(4) {
		left: 20%;
		top: 10%;
		height: 95%;
	}
}

// buffet
#group-2 {
	height: 250px;

	@include from($sm) {
		height: 500px;
	}

	@include from($md) {
		height: 750px;
	}

	img:nth-child(1) {
		top: 0%;
		left: 0%;
		height: 100%;
	}
	img:nth-child(2) {
		top: -30%;
		left: 0%;
		height: 130%;
	}
	img:nth-child(3) {
		top: 35%;
		left: -2%;
		height: 54%;
	}
	img:nth-child(4) {
		left: -2%;
		top: 30%;
		height: 100%;
	}
}

// hands
#group-3 {
	height: 300px;

	@include from($sm) {
		height: 500px;
	}

	@include from($md) {
		height: 700px;
	}

	img:nth-child(1) {
		top: 45%;
		left: 10%;
		height: 60%;
	}
	img:nth-child(2) {
		top: 0%;
		left: 0%;
		height: 45%;
	}
	img:nth-child(3) {
		top: 25%;
		left: 15%;
		height: 55%;
	}
	img:nth-child(4) {
		top: 0%;
		left: 50%;
		height: 35%;
	}
	img:nth-child(5) {
		top: 55%;
		left: 35%;
		height: 35%;
	}
	img:nth-child(6) {
		top: 10%;
		left: 60%;
		height: 30%;
	}
}

// pool
#group-4 {
	height: 600px;

	@include to($lg - 1px) {
	}

	@include from($sm) {
		height: 700px;
	}

	@include from($md) {
		height: 800px;
	}

	img:nth-child(1) {
		top: 0%;
		left: 2%;
		height: 100%;
	}
	img:nth-child(2) {
		top: 0%;
		left: -8%;
		height: 100%;
	}
	img:nth-child(3) {
		top: 35%;
		left: 15%;
		height: 60%;
	}
	img:nth-child(4) {
		top: 0%;
		left: 2%;
		height: 100%;
	}
}

// map
#group-5 {
	height: 600px;

	@include from($sm) {
		height: 700px;
	}

	@include from($md) {
		height: 800px;
	}

	img:nth-child(1) {
		top: -15%;
		left: 35%;
		height: 130%;
	}
	img:nth-child(2) {
		top: -15%;
		left: 25%;
		height: 130%;
	}
	img:nth-child(3) {
		top: -5%;
		left: 35%;
		height: 90%;
	}
}

// footer
#group-6 {
	height: 300px;

	@include from($sm) {
		height: 400px;
	}

	@include from($md) {
		height: 500px;
	}

	img:nth-child(1) {
		top: 0%;
		left: -60%;
		width: 200%;
	}
	img:nth-child(2) {
		top: -80%;
		left: -15%;
		width: 160%;
	}
}

// This is what we have to work with
// Hope to move away from the first idea (using absolute positioning)
// on to this new one which actually preserves the layout and which
// will work responsively.

// Note that these groups will need to be aligned differently for
// different breakpoints.

// If you come and are confused... just pray. Dude...
