html,
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "PT Serif", Times, serif;
  color: #531a10;
}

h1 {
  font-size: 112px;
  line-height: 114%;
}

h2 {
  font-size: 35px;
  line-height: 170%;
}

h3 {
  font-size: 28px;
  line-height: 170%;
}

p {
  text-indent: 20px;
  font-size: 24px;
  line-height: 150%;
}

section,
figure {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media screen and (min-width: 450px) {
  section,
figure {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 800px) {
  section,
figure {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure.center {
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
@media screen and (min-width: 450px) {
  section {
    max-width: 470px;
  }
}
@media screen and (min-width: 800px) {
  section {
    max-width: 820px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    max-width: calc(794px + 20px);
  }
}
@media screen and (max-width: 1199px) {
  section.row {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  section.row {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
  }
  section.row aside {
    flex: 1;
  }
}

figure {
  position: relative;
}
@media screen and (min-width: 450px) {
  figure {
    max-width: 450px;
  }
}
@media screen and (min-width: 800px) {
  figure {
    max-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  figure {
    max-width: 1200px;
  }
}
figure img {
  position: absolute;
}

#group-1 {
  height: 350px;
}
@media screen and (min-width: 450px) {
  #group-1 {
    height: 700px;
  }
}
@media screen and (min-width: 800px) {
  #group-1 {
    height: 1050px;
  }
}
#group-1 img:nth-child(1) {
  left: 10%;
  top: 0%;
  height: 60%;
}
#group-1 img:nth-child(2) {
  left: -5%;
  top: 40%;
  height: 60%;
}
#group-1 img:nth-child(3) {
  left: 40%;
  top: -40%;
  height: 160%;
}
#group-1 img:nth-child(4) {
  left: 20%;
  top: 10%;
  height: 95%;
}

#group-2 {
  height: 250px;
}
@media screen and (min-width: 450px) {
  #group-2 {
    height: 500px;
  }
}
@media screen and (min-width: 800px) {
  #group-2 {
    height: 750px;
  }
}
#group-2 img:nth-child(1) {
  top: 0%;
  left: 0%;
  height: 100%;
}
#group-2 img:nth-child(2) {
  top: -30%;
  left: 0%;
  height: 130%;
}
#group-2 img:nth-child(3) {
  top: 35%;
  left: -2%;
  height: 54%;
}
#group-2 img:nth-child(4) {
  left: -2%;
  top: 30%;
  height: 100%;
}

#group-3 {
  height: 300px;
}
@media screen and (min-width: 450px) {
  #group-3 {
    height: 500px;
  }
}
@media screen and (min-width: 800px) {
  #group-3 {
    height: 700px;
  }
}
#group-3 img:nth-child(1) {
  top: 45%;
  left: 10%;
  height: 60%;
}
#group-3 img:nth-child(2) {
  top: 0%;
  left: 0%;
  height: 45%;
}
#group-3 img:nth-child(3) {
  top: 25%;
  left: 15%;
  height: 55%;
}
#group-3 img:nth-child(4) {
  top: 0%;
  left: 50%;
  height: 35%;
}
#group-3 img:nth-child(5) {
  top: 55%;
  left: 35%;
  height: 35%;
}
#group-3 img:nth-child(6) {
  top: 10%;
  left: 60%;
  height: 30%;
}

#group-4 {
  height: 600px;
}
@media screen and (min-width: 450px) {
  #group-4 {
    height: 700px;
  }
}
@media screen and (min-width: 800px) {
  #group-4 {
    height: 800px;
  }
}
#group-4 img:nth-child(1) {
  top: 0%;
  left: 2%;
  height: 100%;
}
#group-4 img:nth-child(2) {
  top: 0%;
  left: -8%;
  height: 100%;
}
#group-4 img:nth-child(3) {
  top: 35%;
  left: 15%;
  height: 60%;
}
#group-4 img:nth-child(4) {
  top: 0%;
  left: 2%;
  height: 100%;
}

#group-5 {
  height: 600px;
}
@media screen and (min-width: 450px) {
  #group-5 {
    height: 700px;
  }
}
@media screen and (min-width: 800px) {
  #group-5 {
    height: 800px;
  }
}
#group-5 img:nth-child(1) {
  top: -15%;
  left: 35%;
  height: 130%;
}
#group-5 img:nth-child(2) {
  top: -15%;
  left: 25%;
  height: 130%;
}
#group-5 img:nth-child(3) {
  top: -5%;
  left: 35%;
  height: 90%;
}

#group-6 {
  height: 300px;
}
@media screen and (min-width: 450px) {
  #group-6 {
    height: 400px;
  }
}
@media screen and (min-width: 800px) {
  #group-6 {
    height: 500px;
  }
}
#group-6 img:nth-child(1) {
  top: 0%;
  left: -60%;
  width: 200%;
}
#group-6 img:nth-child(2) {
  top: -80%;
  left: -15%;
  width: 160%;
}

/*# sourceMappingURL=second.css.map */
