@import "../../mixins.scss";
@import "../../base.scss";

html,
body {
	color: #384d70;
	background-color: #f5f9f1;
}

header {
	@include to($md - 1px) {
		padding-top: 0;
	}
}

#group-1 {
}
#group-2 {
	@include from($md) {
		margin-top: -7.5vw;
		margin-bottom: -7.5vw;
	}
}
#group-3 {
	@include from($md) {
		margin-left: auto;
		margin-right: auto;
	}
}

#i-have-to {
	@include to($md - 1px) {
		font-size: 16px;
		line-height: 175%;
		letter-spacing: -0.2px;
	}
	@include from($md) {
		margin-left: 20%;
	}
}

#group-4 {
}
#group-5 {
	margin-left: auto;
	margin-right: auto;

	@include to($md - 1px) {
		max-width: 45vh;
		top: 10vh;
	}
	@include from($md) {
		overflow: visible;
	}
	@media screen and (min-width: $md) and (max-width: $lg) {
		img {
			left: calc(-40px - 45%);
			width: 145%;
		}
	}
	@include from($lg) {
		img {
			left: calc(-40px - 65%);
			width: 165%;
		}
	}
}

.side-exception {
	@include to($md) {
		font-size: 26px;
	}
}

#loving-the-archery {
	position: relative;

	@include to($md - 1px) {
		margin-top: 150px;
		margin-bottom: 90px;
	}

	img {
		position: absolute;

		@include to($md - 1px) {
			left: -110px;
			top: -170px;
			width: 300px;
		}

		@include from($md) {
			left: -40px;
			top: -160px;
			width: 350px;
			z-index: 0;
		}
	}

	h2 {
		box-sizing: border-box;
		position: relative;
		z-index: 1;

		@include from($md) {
			width: 78%;
			margin-left: auto;
			box-sizing: border-box;
		}
	}
}
#grey-strip-right {
	position: relative;
	@include to($md - 1px) {
		height: 907px;
	}
	@include from($md) {
		height: 1250px;
	}
	img {
		left: 0;
		top: 0;
		position: absolute;
		height: 100%;
		width: auto;
	}
}
#it-does-help {
	position: relative;

	@include to($md - 1px) {
		margin-top: -75px;
		margin-bottom: 25px;
		display: flex;
		flex-direction: row;
		align-items: center;

		div {
			flex: 1;
			height: 227px;
		}
	}

	img {
		z-index: 0;
		position: absolute;

		@include to($md - 1px) {
			width: 160px;
		}

		@include from($md) {
			right: -20%;
			top: -80%;
		}
	}
	h2 {
		text-align: right;
		@include to($md - 1px) {
			flex: 4;
		}

		@include from($md) {
			width: 80%;
			margin-left: auto;
			width: 70%;
		}
	}
}

#this-calls-for {
	@include to($md - 1px) {
		margin: 50px 0;
		width: 300px;

		h2 {
			text-align: left;
		}

		img {
			width: 275px;
			position: relative;
			top: -20px;
		}
	}

	@include from($md) {
		img {
			position: absolute;
			top: 160px;
			left: -20px;
			width: 320px;
		}
	}
}
