@import "mixins";

body {
	font-family: PT Serif;
	color: #531a10;
}

header {
	padding-top: 230px;
	color: white;

	#title {
		font-weight: normal;
		font-size: 112px;
		line-height: 114%;
		text-align: center;
	}

	#authors {
		p {
			font-size: 25px;
			line-height: 33px;
		}

		@include from($md) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

section {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

p {
	font-size: 17px;
	line-height: 150%;
	text-indent: 20px;

	@include from($md) {
		font-size: 24px;
	}
}

h2 {
	font-size: 35px;
	line-height: 133.5%;
	letter-spacing: 0.02em;
}

h3 {
	font-size: 16px;
	line-height: 175%;

	@include from($md) {
		font-size: 30px;
		line-height: 170%;
	}
}

section {
	&:not(.fluid) {
		margin-left: auto;
		margin-right: auto;

		width: 100%;

		@include from($sm) {
			max-width: $sm;
		}
		@include from($sm) {
			max-width: $md;
		}
		@include from($sm) {
			max-width: $lg;
		}
	}

	&.fluid {
		width: 100%;
	}

	&.couple {
		display: flex;
		flex-direction: column;
		align-items: center;

		div,
		aside {
			flex: 1;
		}
	}
}
