@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");
html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.md-down {
  display: none;
}
@media screen and (max-width: 899px) {
  .md-down {
    display: block;
  }
}

.md-up {
  display: none;
}
@media screen and (min-width: 900px) {
  .md-up {
    display: block;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "PT Serif", Times, serif;
}

h1 {
  line-height: 114%;
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 112px;
  }
}

h2 {
  line-height: 135%;
  font-size: 35px;
  letter-spacing: -2%;
}
@media screen and (min-width: 900px) {
  h2 {
    line-height: 170%;
    font-size: 35px;
  }
}

h3 {
  line-height: 170%;
  font-size: 16px;
  letter-spacing: -2%;
}
@media screen and (min-width: 900px) {
  h3 {
    font-size: 30px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 900px) {
  .intro-outro {
    font-size: 27px;
  }
}

p {
  text-indent: 20px;
  line-height: 150%;
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  p {
    font-size: 24px;
  }
}

header {
  box-sizing: border-box;
  padding-top: 192px;
}
header #background {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 822px;
  background-color: #eabab1;
}
@media screen and (min-width: 900px) {
  header #background {
    height: 2000px;
  }
}
header #title,
header #authors p {
  color: inherit;
}
header #title {
  position: relative;
  font-size: 42px;
  line-height: 114%;
  font-weight: normal;
  text-align: center;
}
@media screen and (min-width: 900px) {
  header #title {
    font-size: 112px;
  }
}
header #authors {
  margin-top: 25px;
  margin-bottom: 166px;
  position: relative;
}
@media screen and (min-width: 900px) {
  header #authors {
    margin: 55px auto 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin-left: auto;
  }
}
header #authors p {
  margin-top: 0;
  margin-bottom: 10px;
  text-indent: 0;
  text-align: center;
}
@media screen and (max-width: 450px) {
  header #authors p {
    font-size: 14px;
  }
}

section,
figure {
  margin-bottom: 100px;
}
section.no-top,
figure.no-top {
  margin-top: 0;
}
section.no-bottom,
figure.no-bottom {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  section.no-bottom-desktop,
figure.no-bottom-desktop {
    margin-bottom: 0;
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}
figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
figure img:first-child {
  position: relative;
}

figure.pullquote,
section.pullquote {
  margin-top: 25px;
  margin-bottom: 25px;
}
figure.pullquote.big,
section.pullquote.big {
  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 899px) {
  section {
    padding: 0 25px;
  }
}
@media screen and (min-width: 450px) {
  section {
    max-width: 450px;
  }
}
@media screen and (min-width: 900px) {
  section {
    padding: 0;
    max-width: 794px;
  }
}
@media screen and (max-width: 899px) {
  section.couple {
    margin-left: auto;
    margin-right: auto;
  }
}
section.couple.no-constraints {
  max-width: none !important;
}
section.couple.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
section.couple.all aside {
  flex: 1;
}
section.couple .dom {
  flex: 2;
}
@media screen and (min-width: 900px) {
  section.couple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  section.couple div {
    flex: 1;
  }
  section.couple aside {
    flex: 1;
  }
}

figure {
  position: relative;
}
figure img {
  position: absolute;
}

html,
body {
  color: #384d70;
  background-color: #f5f9f1;
}

@media screen and (max-width: 899px) {
  header {
    padding-top: 0;
  }
}

@media screen and (min-width: 900px) {
  #group-2 {
    margin-top: -7.5vw;
    margin-bottom: -7.5vw;
  }
}

@media screen and (min-width: 900px) {
  #group-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 899px) {
  #i-have-to {
    font-size: 16px;
    line-height: 175%;
    letter-spacing: -0.2px;
  }
}
@media screen and (min-width: 900px) {
  #i-have-to {
    margin-left: 20%;
  }
}

@media screen and (max-width: 899px) {
  #group-4 img:nth-child(2) {
    width: 110%;
    margin-left: -5%;
  }
}

#group-5 {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 899px) {
  #group-5 {
    max-width: 45vh;
    top: 5vh;
  }
}
@media screen and (min-width: 900px) {
  #group-5 {
    overflow: visible;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  #group-5 img {
    left: calc(-40px - 45%);
    width: 145%;
  }
}
@media screen and (min-width: 1200px) {
  #group-5 img {
    left: calc(-40px - 65%);
    width: 165%;
  }
}

@media screen and (max-width: 900px) {
  .side-exception {
    font-size: 26px;
  }
}

#loving-the-archery {
  position: relative;
}
@media screen and (max-width: 899px) {
  #loving-the-archery {
    margin-top: 150px;
    margin-bottom: 90px;
  }
}
#loving-the-archery img {
  position: absolute;
}
@media screen and (max-width: 899px) {
  #loving-the-archery img {
    left: -110px;
    top: -170px;
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  #loving-the-archery img {
    left: -40px;
    top: -160px;
    width: 350px;
    z-index: 0;
  }
}
#loving-the-archery h2 {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  #loving-the-archery h2 {
    width: 78%;
    margin-left: auto;
    box-sizing: border-box;
  }
}

#grey-strip-right {
  position: relative;
}
@media screen and (max-width: 899px) {
  #grey-strip-right {
    height: 1000px;
  }
}
@media screen and (min-width: 900px) {
  #grey-strip-right {
    height: 1250px;
  }
}
#grey-strip-right img {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: auto;
}

#it-does-help {
  position: relative;
}
@media screen and (max-width: 899px) {
  #it-does-help {
    margin-top: -75px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #it-does-help div {
    position: relative;
    flex: 1;
    height: 227px;
  }
}
#it-does-help img {
  z-index: 0;
  position: absolute;
}
@media screen and (max-width: 899px) {
  #it-does-help img {
    left: -20px;
    width: 160px;
  }
}
@media screen and (min-width: 900px) {
  #it-does-help img {
    right: -20%;
    top: -80%;
  }
}
#it-does-help h2 {
  text-align: right;
}
@media screen and (max-width: 899px) {
  #it-does-help h2 {
    flex: 6;
    letter-spacing: -0.2px;
  }
}
@media screen and (min-width: 900px) {
  #it-does-help h2 {
    width: 80%;
    margin-left: auto;
    width: 70%;
  }
}

@media screen and (max-width: 899px) {
  #this-calls-for {
    margin: 50px 0 30px;
    width: 300px;
  }
  #this-calls-for h2 {
    text-align: left;
  }
  #this-calls-for img {
    width: 240px;
    position: relative;
    left: -10px;
    top: -20px;
  }
}
@media screen and (min-width: 900px) {
  #this-calls-for {
    top: -85px;
  }
  #this-calls-for img {
    position: absolute;
    top: 160px;
    left: -20px;
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */
